# Ex3 - Obtener y conocer sus datos

### Paso 1. Importar las bibliotecas necesarias

In [1]:
import pandas as pd

### Paso 2. Importe el conjunto de datos desde esta [dirección](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

In [10]:
import ssl
ssl._create_default_https_context = ssl._create_unverified_context
# Esto es una paranoia para que no de error el mac al intentar acceder a la URL.

In [11]:
url = 'http://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'

### Paso 3. Asígnalo a una variable llamada users y usa el 'user_id' como índice

> Empezamos llamando la librería con pd, y luego el método que toque. En este caso tiene que ser alguno que 'lea' algo. Hay varios métodos de read, cada uno para leer un tipo de dato.
>
> En este caso usaremos read_csv

> Como el archivo originall no está separado por comas, que es lo que viene por defecto, tenemos que usar el argumento del separador: sep='|'

In [12]:
pd.read_csv(url, sep='|')

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

### Paso 4. Ver las 25 primeras entradas
Resuélvelo de 2 maneras diferentes

In [13]:
users.head()

NameError: name 'users' is not defined

### Paso 5. Ver las 10 últimas entradas

### Paso 6. ¿Cuál es el número de observaciones del conjunto de datos?
Resuélvelo de 2 formas diferentes

### Paso 7. ¿Cuál es el número de columnas del conjunto de datos?
Resuélvelo de 2 formas diferentes

### Paso 8. Imprime el nombre de todas las columnas.

### Paso 9. ¿Cómo se indexa el conjunto de datos? Obtener los valores del índice

### Paso 10. ¿Cuál es el tipo de datos de cada columna?
Resuélvelo de 2 formas diferentes

### Paso 11. Imprime sólo la columna de ocupación
Resuélvelo de 2 formas diferentes

### Paso 12. ¿Cuántas ocupaciones diferentes hay en este conjunto de datos? ¿Cuántos usuarios por ocupación hay en el conjunto de datos?

### Paso 13. ¿Cuál es la ocupación más frecuente?

### Paso 14. Resuma el DataFrame.

### Paso 15. Resuma todas las columnas

### Paso 16. Resuma sólo la columna de ocupación

### Paso 17. ¿Cuál es la edad media de los usuarios?

### Paso 18. ¿Cuál es la edad con menos ocurrencias?